/* ------ Modal for messages and supporters */

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--accent-color);
    background-color: var(--accent-color-low-opacity);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.close {
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}

.close span {
    font-size: 18px;
}

.close:hover,
.close:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

.close span:hover,
.close span:focus {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    z-index: 3;
    background-color: transparent;
    overflow:hidden;
}

.modal-header img {
    margin-bottom: -20px;
    margin-left: 100px;;
    max-height: 450px;
    z-index: 1;
}

.modal-body {
    padding: 2px 16px;
    background-color: var(--menu-background-color);
    color: var(--menu-text-color);
    z-index: 4;
}

.modal-body p {
    color: var(--menu-text-color);
    line-height: 1.6;
    z-index: inherit;
}

.modal-footer {
    justify-content: space-between;
    padding: 0 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 3;
}

.modal-footer p {
    padding: 5px 0;
    margin: 0;
    color: var(--text-color);
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* ------ */
