:root {
    --main-color: #295ed0;
    --secondary-color: #212AA6;
    --accent-color: #F4F6FB;
    --background-color: #F4F6FB;
    --text-color: #23262e;
    --font: 'Merriweather';
    --next-theme: #23262e;
    --next-theme-border: #F4F6FB;
    /* --background-gradient: ; */
}

html[data-theme='light'] {
    --main-color: #295ed0;
    --secondary-color: #212AA6;
    --accent-color: #F4F6FB;
    --background-color: #F4F6FB;
    --text-color: #295ed0;
    --font: 'Merriweather';
    --next-theme: #23262e;
    --next-theme-border: #F4F6FB;
    /* --background-gradient: ; */
}

html[data-theme='dark'] {
    --main-color: #23262e;
    --secondary-color: #F4F6FB;
    --accent-color: #121617;
    --background-color: #23262e;
    --text-color: #F4F6FB;
    --font: 'Merriweather';
    --next-theme: #ab1010;
    --next-theme-border: #F4F6FB;
    /* --background-gradient: ; */
}

html[data-theme='dragon'] {
    --main-color: #ab1010;
    --secondary-color: #87170D;
    --accent-color: #FBF4F4;
    --background-color: #FBF4F4;
    --text-color: #ab1010;
    --font: 'Merriweather';
    --next-theme: #295ed0;
    --next-theme-border: #F4F6FB;
    /* --background-gradient: ; */
}

* {
    color: var(--text-color);
}

html {
    font-family: var(--font);
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
}

.container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #153677, #4e085f); */
    padding: 10px;
}

.todo-app {
    min-width: 400px;
    min-height: 600px;
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--background-color);
}

#theme-toggle {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.8;
}

#theme-toggle:hover {
    transform: scale(1.08);
    opacity: 1;
}

.theme-toggle-zero {
    border-style: 1px inset black;
    background-color: var(--next-theme);
    border: 1px solid var(--next-theme-border);
    color: #fff;
}

.my-title {
    font-size: 24px;
    font-weight: 700;
}

.info-toggle {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--main-color);
    color: var(--accent-color);
}

.info-toggle:hover {
    transform: scale(1.08);
}

.add-button {
    /* background-color: var(--secondary-color);
    color: var(--accent-color); */
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-button:hover {
    background-color: #1e293b;
    color: #fff;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 6px 4px 0 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-image: url(assets/circle-regular.svg);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    top: 14px;
    left: 10px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(assets/circle-solid.svg);
    opacity: 0.2;
}

.delete-theme {
    background-color: var(--main-color);
}

.export-clear {
    bottom: 20px;
}


/* .button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

/* .button-81:hover {
  background-color: #1e293b;
  color: #fff;
} */

/* @media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
} */