@keyframes popUp {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

body {
  font-family: Lato, sans-serif;
  background-color: #D2E4E3;
}

.container {
    width: 100vw;
    height: 100vh;
    /*border: dashed 1px black;*/
    position: relative;
}
  
.listContainer {
    background-color: #ffffff;
    border: 1px dashed #000000;
    position: absolute;
    min-width: 300px;
    max-width: 600px;
    width: 450px;
    min-height: 500px;
    height: auto;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -225px;
    padding: 10px;
    overflow: hidden;
}

.listContainer h1 {
    text-align: center;
}

#supporterMessages {
    display: none;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    margin: 0 0 0 -10px;
    padding: 10px;
    position: absolute;
    width: 96%;
    min-height: 4em;
    bottom: 0;
}

#supporterMessages p {
    padding: 5px;
}

.completed {
  text-decoration: line-through;
  opacity: 1;
  transition: opacity 0.75s ease-out; /* Add a fade-out effect with a 0.5s duration */
}

input[type=text] {
    height: 2em;
    width: 70%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    height: 2em;
    width: 20%;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

li {
    border: 1px dashed black;
    padding: 10px;
    margin: 5px 0;
}

li {
    cursor: pointer;
}

.dangerZone {
    color: red;
}

/* Styling for the pop-up container */
#popUpContainer {
    display: none;
}
  
/* Styling for the pop-up image */
#popUpImage {
    max-width: 100%;
    max-height: 400px; /* Adjust the maximum height as needed */
    display: block;
    position: absolute;
    bottom: 0;
    right: -50px;
}

.popUpAnimation {
    animation: popUp 0.25s ease-out;
}

